<a href="https://colab.research.google.com/github/adasinghasd123/Python-Basics/blob/main/Ptterns_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
row=int(input())
col=(row+1)//2
k=0
for i in range(1,row+1):
  if i<=(row+1)//2:
    k+=1
  else:
    k-=1 
  for j in range(1,col+1):
    if j<=k:
      print("*",end='')
    else:
      print(' ',end='')
  print()

9
*
**
***
****
*****
****
***
**
*

In [ ]:
row=int(input())
col=row*2-1
k=0
for i in range(1,row+1):
  k+=1
  for j in range(1,col+1):
    if j>=k and j<=col+1-k:
      print("*",end='')
    else:
      print(' ',end='')
  print()

10
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [ ]:
row=int(input())
col=row*2-1
k=0

for i in range(1,row+1):
  k=i
  
  for j in range(1,col+1):
    if j>((col+1)//2)-i and j<((col+1)//2)+i:
      print(k,end='')
      if j<((col+1)//2):
        k+=1
      else:
        k-=1  
    else:
      print(' ',end='')
  print()

5
    1
   232
  34543
 4567654
567898765

In [ ]:
row=int(input())+1
col=row
for i in range(1,row+1):
  k=row-i
  for j in range(1,col+1):
    if j<=col+1-i:
      print(k,end='')
      k-=1
    else:
      print(" ",end='')
  print()

6
6543210
543210
43210
3210
210
10
0

In [ ]:
row=int(input())
col=row//2+1
k=0
for i in range(1,row+1):
  if i<=row//2+1:
    k+=1
  else:
    k-=1 
  c=1   
  for j in range(1,col+1):
    
    if j>col-k:
      print(c,end='')
      c+=1
    else:
      print(" ",end='')
  print()

9
    1
   12
  123
 1234
12345
 1234
  123
   12
    1

In [ ]:
row=int(input())
col=row
p='\\'
q='/'
for i in range(1,row+1):
  for j in range(1,col+1):
    if j==i or j==col-i+1: 
      if j==8-i:
        print(q,end='')
      else:  
        print(p,end='')
    else:
      print("*",end='')
  print()

7
\*****/
*\***/*
**\*/**
***/***
**/*\**
*/***\*
/*****\

In [ ]:
row=int(input())
col=row
k=0
for i in range(1,row+1):
  if i<=5:
    k+=1
  else:
    k-=1  
  for j in range(1,col+1):
    if j<=(col//2+2)-k or j>=(col//2)+k :
      print("*",end='')
    else:
      print(" ",end='')
  print()

9
*********
**** ****
***   ***
**     **
*       *
**     **
***   ***
**** ****
*********

In [ ]:
row=int(input())
col=row*2-1
for i in range(1,row+1):
  for j in range(1,col+1):
    if j>=i and j<=col+1-i:
      print("*",end='')
    else:
      print(" ",end='')
  print()

5
*********
 *******
  *****
   ***
    *

In [ ]:
row=int(input())
col=row*2-1

for i in range(1,row+1):
  k=65
  for j in range(1,col+1):
     
    if j>=(col//2+2)-i and j<=(col//2)+i:
      print(chr(k),end='')
      if j<row:
          k+=1
      else:
          k-=1 
    else:
      print(" ",end='')
  print()

4
   A
  ABA
 ABCBA
ABCDCBA

In [ ]:
row=int(input())
col=row*2
k=65
for i in range(1,row+1):
  for j in range(1,col+1):
    if j>=row+1-i and j<=row+i:
      
      print(chr(k),end='')
      k+=1
    else:
      print(" ",end='')
  print()

4
   AB
  CDEF
 GHIJKL
MNOPQRST

In [ ]:
row=int(input())
col=2*row
for i in range(1,row+1):
  for j in range(1,col+1):
    if j>4-i and j<=col+1-i:
      print("*",end='')
    else:
      print(" ",end='')
  print()

4
   *****
  *****
 *****
*****

In [ ]:
row=int(input())
col=2*row-1
for i in range(1,row+1):
  a=1
  b=65
  for j in range(1,col+1):
    if j>=col//2+2-i and j<=col//2+1:
      print(a,end='')
      a+=1
    elif j>col//2+1 and j<col//2+1+i:
      print(chr(b),end='')
      b+=1 
    else:
      print(" ",end='')
  print()

4
   1
  12A
 123AB
1234ABC

In [ ]:
row=int(input())
col=row
for i in range(1,row+1):
  for j in range(1,col+1):
    if j<=i:
      if j%2!=0:
        print("|",end='')
      else:
        print("0",end='')
    else:
      print(" ",end='')  
  print()

6
|
|0
|0|
|0|0
|0|0|
|0|0|0

In [ ]:
row=int(input())
col=row
for i in range(1,row+1):
  for j in range(1,col+1):
    if j==1 or i==1 or j==7 or i==7:
      print("*",end='')
    elif i>=3 and i<=5 and j>=3 and j<=5:
      if i==4 and j==4:
        print(" ",end='')
      else:  
        print("*",end='')
      
    else:
      print(" ",end='')  
  print()

7
*******
*     *
* *** *
* * * *
* *** *
*     *
*******

In [ ]:
from itertools import permutations
n=int(input())
l=[]
for i in range(n):
  l.append(int(input()))
q=int(input())  
comb = permutations(l,3)
c=0
for i in comb:
  su=sum(i)
  if su==q:
    c+=1
  else:
    continue  
if c!=0:
  print("True")
else:
  print("False")

4
1
3
12
4
14
False

In [ ]:
row=int(input())
col=row
k=0
for i in range(1,row+1):
  if i <=11:
    k+=1
  else:
    k-=1  
  l=0  
  for j in range(1,col+1):
    if j>=col//2+2-k and j<=col//2+k:
      print(l,end='')
    else:
      print(" ",end='')
      
  print()

21
          0
         000
        00000
       0000000
      000000000
     00000000000
    0000000000000
   000000000000000
  00000000000000000
 0000000000000000000
000000000000000000000
 0000000000000000000
  00000000000000000
   000000000000000
    0000000000000
     00000000000
      000000000
       0000000
        00000
         000
          0

In [ ]:
row=int(input())
col=row
k=65
for i in range(1,row+1):
  for j in range(1,col+1):
    if j<=i:
      print(chr(k),end='')
      k-=1
    else:
      print(" ",end='')
  k=65+i    
  print()

4
A
BA
CBA
DCBA

In [ ]:
row=int(input())
col=row*2-1
for i in range(1,row+1):
  k=i+1
  for j in range(1,col+1):
    
    if j>=col//2+2-i and j<col//2+1+i:
      if j<=col//2+1:
        k-=1
      else:
        k+=1
      print(k,end='')
    else:
      print(" ",end='')
        
  print()

4
   1
  212
 32123
4321234

In [ ]:
row=int(input())
col=row*2-1
for i in range(1,row+1):
  for j in range(1,col+1):
    if j<=i*2-1:
      if j%2!=0:
        print(i,end='')
      else:
         print("*",end='') 
    else:
      print(" ",end='')
  print()

5
1
2*2
3*3*3
4*4*4*4
5*5*5*5*5

In [ ]:
 row=int(input())
 col=row
 k=64
 for i in range(1,row+1):
   k+=2*i-1
   for j in range(1,col+1):
     if j>col-i:
       print(chr(k),end='')
       k-=1
     else:
       print(" ",end='')
   print()

5
    A
   CB
  FED
 JIHG
ONMLK

In [ ]:
 row=int(input())
 col=row
 k=64
 for i in range(1,row+1):
   k+=2*i-1
   for j in range(1,col+1):
     if j>col-i:
       print(chr(k),end='')
       k-=1
     else:
       print(" ",end='')
   print()

In [ ]:
 row=int(input())
 col=row
 
 for i in range(1,row+1):
   
   for j in range(1,col+1):
     if j==i or j==col+1-i:
       print("*",end='')
    
     else:
       print(" ",end='')
   print()

5
*   *
 * *
  *
 * *
*   *

In [4]:
row=int(input())
col=row*2-1

for i in range(1,row+1):
  k=65
  for j in range(1,col+1):
    if j<=col//2+2-i or j>=col//2+i:
      print(chr(k),end='')
      k+=1
    else:
      print(" ",end='')
      k+=1
  print()

4
ABCDEFG
ABC EFG
AB   FG
A     G

In [7]:
row=int(input())
col=col
k=1
for i in range(1,row+1):
  c=k
  k+=row+1-i
  for j in range(1,col+1):
    if j<=i:
      print(c,end=' ')
      c=c-(row-i+j)
    else:
      print(" ",end='')
  print()

5
1
6 2
10 7 3
13 11 8 4
15 14 12 9 5

In [ ]:
row=int(input())
col=row*2-1
for i in range(1,row+1):
  for j in range(1,col+1):
    if j>=col//2+2-i and j<col//2+1+i:
      if i%2!=0:
        if j%2==0:
          print("*",end='')
        else:
          print(" ",end='')  
      else:
        if j%2!=0:
          print("*",end='')
        else:
          print(" ",end='')      
    else:
      print(" ",end='')
  print()

4
   *
  * *
 * * *
* * * *

In [1]:
row=int(input())
col=row

for i in range(1,row+1):
  k=0
  for j in range(1,col+1):
    if j<=i:
      print(k,end=' ')
      k=k+i-1
    else:
      print(" ",end='')
  print()

5
0
0 1
0 2 4
0 3 6 9
0 4 8 12 16