<a href="https://colab.research.google.com/github/adasinghasd123/Python-Basics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#hcf
a=int(input("First Number:-"))
b=int(input("Second Number:-"))
a1=[]
for i in range(1,max(a,b)+1):
  if a%i==0 and b%i==0:
    a1.append(i)
print(max(a1))

First Number:-60
Second Number:-72
12

In [ ]:
#lcm using hcf
# lcm*hcf=a*b
a=int(input("First Number:-"))
b=int(input("Second Number:-"))
hcf=1
for i in range(1,max(a,b)+1):
  if a%i==0 and b%i==0:
    hcf=i
print((a*b)//hcf)

First Number:-60
Second Number:-72
360

In [ ]:
# binary to decimal:
binary=input("Enter the binary number")
l=[]
d=0
for i in reversed(range(0,len(binary))):
  l.append(int(binary[i]))
 
for i in range(0,len(l)):
  d+=l[i]*(2**i)
  
  
print(d)

Enter the binary number100101
37

In [ ]:
#Quadrants in which a given coordinate lies
x,y=map(int,input("Enter the quadrant value").split())
if x>0 and y>0:
  print("1st Quadrant")
elif x<0 and y>0:
  print("2nd Quadrant")
elif x<0 and y<0:
  print("3rd Quadrant")
else :
  print("4th Quadrant")

Enter the quadrant value-3 -4
3rd Quadrant

In [ ]:
#Permutations in which n people can occupy r seats:
#For finding the factorial we use factorial function from math library
import math as m
n,r=map(int,input("Enter the number of people and number of seats").split())
N=m.factorial(n)
R=m.factorial(n-r)
ans=N//R
print(ans)

Enter the number of people and number of seats9 5
15120

In [ ]:
#Maximum Number Of Handshakes
#total no of handshake by one particular person in always n-1 because in n he is also included.
n=int(input("Enter the no of people"))
ans=(n*(n-1))//2
print(ans)

Enter the no of people30
435

In [ ]:
f1_nume = int(input('Enter the numerator for 1st fraction :'))
f1_deno = int(input('Enter the denominator for the 1st fraction :'))
f2_nume = int(input('Enter the numerator for 2nd fraction :'))
f2_deno = int(input('Enter the denominator for the 2nd fraction :'))
#check if denominators are same
if(f1_deno == f2_deno):
    #add numerator
    Fraction = f1_nume + f2_nume
    #print
    print('Addition of two fractions are :' + str(Fraction) + '/' + str(f1_deno))
#if denominators are not same    
else:
    Fraction = (f1_nume * f2_deno) + (f2_nume * f1_deno)
    print('Addition of fractions are :' + str(Fraction) + '/' + str(f1_deno * f2_deno))

Enter the numerator for 1st fraction :14
Enter the denominator for the 1st fraction :10
Enter the numerator for 2nd fraction :24
Enter the denominator for the 2nd fraction :3
Addition of fractions are :282/30

In [23]:
#Replace all 0â€™s with 1 in a given integer
#we first convert integer to sring and then use find and replace function to replace 0 with 1
n=int(input("Enter the number"))
n=str(n)
print(n.replace('0','1',len(n) ))

Enter the number12000333000
12111333111