<a href="https://colab.research.google.com/github/adasinghasd123/Python-Basics/blob/main/Python_Basics_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Length of the string without using strlen() function
s=input()
len=0
for i in s:
  len+=1
print(len)

Prepinsta
9

In [4]:
#Toggle each character in a string
"""
The string is a combination of characters, but in programing language like python, a string is an independent datatype that can be treated as character or string both because in python string of length 1 is also a string, not character. In this python program, we will check the type of string available on the basis of their case:-

Upper Case
Lower Case
If the string is in uppercase then we will be converting this in lowercase and lowercase in uppercase.
"""
#In this we use inbuilt function that is swapcase()
s=input()
ans=s.swapcase()
print(ans)

Aniket
aNIKET

In [7]:
#Count the number of vowels in a string
s=input()
vo=['a','e','i','o','u']
c=0
for i in s:
  if i.lower() in vo:
    c+=1

print(c)

Aniket
3

In [11]:
#Remove the vowels from a string
s=input()
vo=['a','e','i','o','u']
ans=''#taking the empty string
for i in s:
  if i.lower() not in vo: #checking the ith index character is vovwel or not.
    ans+=i 
    

print(ans)

Aniket
nkt

In [15]:
#Check if the given string is Palindrome or not
s=input()

if s==s[::-1]:
  print("Palindrome")
else:
  print("Not Palindrome")

Anilet
Not Palindrome

In [16]:
#Print the given string in reverse order
s=input()
print(s[::-1])

Aniket
tekinA

In [17]:
#Remove all character from a string except alphabets
s=input()
ans=""
for i in s:
  if i.isalpha():
    ans+=i
print(ans)

aasdf12
aasdf

In [19]:
#Remove spaces from a string
s=input()
ans=""
for i in s:
  if i!=' ':
    ans+=i
print(ans)

Aniket Kumar Singh
AniketKumarSingh

In [21]:
#Check if two Strings are Anagram or not
s1=input()
s2=input()
s1=sorted(s1)
s2=sorted(s2)
if s1==s1:
  print("Anagram")
else:
  print("Not Anagram")

Anilet
letAni
Anagram

In [22]:
#How to replace a substring in a string
s=input("Enter the string ")
r=input("Enter the string to removed ")
re=input("Enter the string to be replaced with ")
ans=s.replace(r,re)
print(ans)

Enter the stringAniket Kumar Singh
Enter the string to removedSingh
Enter the string to be replaced withS
Aniket Kumar S